$base-font-size: 10px;
$base-line-height: 1.5;
$base-font-family: "Inter", "Helvetica Neue", Arial, sans-serif;

$font-size: (
  xxl: 3.2rem,
  xl: 2.4rem,
  lg: 2rem,
  md: 1.6rem,
  sm: 1.4rem,
  xs: 1.2rem,
);
