<p style="color: green"><%= notice %></p>

<% content_for :title, "Task attachments" %>

<h1>Task attachments</h1>

<div id="task_attachments">
  <% @task_attachments.each do |task_attachment| %>
    <%= render task_attachment %>
    <p>
      <%= link_to "Show this task attachment", task_attachment %>
    </p>
  <% end %>
</div>

<%= link_to "New task attachment", new_task_attachment_path %>
