<div id="<%= dom_id project_collaborator %>">
  <p>
    <strong>Project:</strong>
    <%= project_collaborator.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project_collaborator.user_id %>
  </p>

</div>
