@import "../abstracts/index";

.sidebar {
  background-color: $white;
  height: 100%;
  width: 100%;
  padding: 3rem 1.2rem 2rem 2.2rem;

  &__heading {
    @include flex-align-center-justify-between;
    width: 100%;

    label {
      @include text-medium-md;
    }
  }

  &__content {
    // @include flex-align-start-justify-start;
    // flex-direction: column;
    width: 100%;
  }
}
