@import "../abstracts/index";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
}

/* For Webkit browsers */
*::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

html {
  scroll-behavior: smooth;
  font-size: $base-font-size;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%; /* Set height definitively based on viewport */
  width: 100%;
  position: relative;
  line-height: 1.5;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  @include make-square(100%);
}

nav {
  height: 5.2rem;
}

main {
  display: block;
  width: 100%;
  height: calc(100% - 5.2rem);

  aside {
    float: left;
    height: 100%;
    width: 15%;
  }

  #project-layout {
    width: calc(100% - 15%);
    float: left;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

div {
  font-size: inherit;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

textarea {
  @include text-regular-xs;
  @include outfit-font;
  width: 100%;
  resize: none;
  border: none;

  &:focus {
    outline: none;
    border: none;
  }
}

#ember-body {
  isolation: isolate;
  background-color: $sky-blue-200;
  height: 100%;
}

#portal {
  display: block;
  position: absolute;
  // top: -100vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.4);
  z-index: -1000;
  opacity: 0;

  transition: all 0.1s ease-in-out;
}

#project-layout {
  @include make-square(100%);
}

.red-astrick {
  color: $error-700;
}

@include task-status-states;
